.Rproj.user
.Rhistory
.RData
.Ruserdata

HW2/.Rproj.user
HW2/.Rhistory
HW2/.RData
HW2/.

**/.Rproj.user
**/.Rhistory
**/.RData
**/.Ruserdata

/Anderson/team_5_codebook_cache/*
/Anderson/team_5_codebook_files/*